<%- include("partials/header.ejs") %>



<h1>Hello 
    <% if(locals.name) {%>
    <%= name %>
    <% } else {%>
    There!
    <% }%>
</h1>

<form method="post" action="/submit">
    <label> name: </label>
    <input type="text" name="name" >
    <input type="submit" value="change">
</form>

<div>
    <% if(locals.posts) {%>
    <% for (let i = 0; i < posts.length; i++) {%>
        <div class="posts-div">
            <h4> <%= posts[i]%></h4>
            <form  action="/deletePost" method="post">
                <input type="hidden" name="index" value="<%= i %>" />
                <button class="post" type="submit">Delete</button>
            </form>
        </div>
        <% } %>
    <% }%>
</div>

<%- include("partials/footer.ejs") %>